PORT=5013
CLIENT_URL='http://localhost:5012'

# MongoDB URI
MONGO_URI=''

# JWT Secrets
ACCESS_TOKEN_SECRET='4PKoae6fOPI5RfWUR/rB1cD+y67K+lO7uQZOcV1X9Oc='
REFRESH_TOKEN_SECRET='M5LBJZitDBnTBfuXnduDUBfJiNlsF6fpXtLA9bU3IwA='
